{% extends 'base.html.twig' %}

{% block title %}Edit FlashInfo{% endblock %}

{% block body %}
    <h1>Edit FlashInfo</h1>

    {{ include('flash_info/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_flash_info_index') }}">back to list</a>

    {{ include('flash_info/_delete_form.html.twig') }}
{% endblock %}
